@import "reset.css";
body {
  background-color: #DCE6D1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.phone {
  background-color: black;
  border-radius: 50px;
  height: 95%;
  width: 420px;
  padding: 50px 20px 0 20px;
  box-sizing: border-box;
}
.header {
  overflow-x: scroll;
  margin-bottom: 20px;
}
.header .header__list {
  display: flex;
  color: white;
  gap: 10px;
  width: max-content;
}
.header .header__list .header__list-item {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
}
.header .header__list .header__list-item--inverted {
  background-color: white;
  color: black;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.cards .cards__card {
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.cards .cards__card .card__title {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
}
.cards .cards__card .card__footer {
  font-size: small;
  display: flex;
  justify-content: space-between;
}
.cards .cards__card .card__footer span {
  border-radius: 25px;
  padding: 7px 9px;
  border: 1px solid black;
}
.cards .cards__card .card__footer .price {
  background-color: #E9AFFC;
}
.cards .cards__card .card__footer .length {
  background-color: white;
}
.cards .cards__card:first-child {
  background-color: #292D33;
  border: 1px solid white;
}
.cards .cards__card:first-child .card__title {
  color: white;
}
.cards .cards__card:nth-child(2) {
  background-color: #F5F3F0;
}
.cards .cards__card:nth-child(3) {
  background-color: #F9FDBD;
}
.cards .cards__card:nth-child(4) {
  background-color: #B09EF6;
}
.cards .cards__card:nth-child(5) {
  background-color: #FFD3D3;
}
.cards .cards__card:nth-child(6) {
  background-color: #CFFFDD;
}
.cards .cards__card:nth-child(3n) {
  grid-column: span 2;
}
