@import "reset.css";
body {
  background-color: #71409F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container {
  background-color: #191919;
  padding: 20px;
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2fr 1.5fr;
  grid-template-rows: 1fr 1fr 0.8fr;
  gap: 2px;
  width: 870px;
  height: 780px;
}
.card {
  background-color: white;
  border-radius: 10px;
}
.card:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:nth-child(1) .Duh-row:nth-child(1) {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  text-transform: uppercase;
}
.card:nth-child(1) .Duh-row:nth-child(1) .Duh-row__top-left {
  font-size: 52px;
}
.card:nth-child(1) .Duh-row:nth-child(1) .Duh-row__top-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card:nth-child(1) .Duh-row:nth-child(1) .Duh-row__top-right .Duh-row__best-review {
  background-color: #FFC830;
  font-size: small;
  padding: 5px;
  border-radius: 15px;
}
.card:nth-child(1) .Duh-row:nth-child(3) {
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  border-top: 1px solid #191919;
}
.card:nth-child(1) .Duh-row:nth-child(2) {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
}
.card:nth-child(2) {
  background-color: #A2BADB;
}
.card:nth-child(3) {
  background-color: #191919;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.card:nth-child(3) ul {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card:nth-child(4) {
  position: relative;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.card:nth-child(4) .small-card {
  height: 23%;
  display: flex;
  border-radius: 10px;
}
.card:nth-child(4) .small-card:nth-child(1) {
  background-color: #FFC830;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card:nth-child(4) .small-card:nth-child(1) .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #191919;
  align-self: center;
  margin-left: 20px;
}
.card:nth-child(4) .small-card:nth-child(1) .small-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
}
.card:nth-child(4) .small-card:nth-child(2) {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  transform: rotate(0.03turn);
  box-shadow: 0 0 10px gray;
}
.card:nth-child(4) .more-cases {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.card:nth-child(5) {
  background-color: white;
}
.card:nth-child(6) {
  background-color: #191919;
}
.card:nth-child(7) {
  background-color: palevioletred;
}
.card:nth-child(8) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  grid-column: span 2;
}
.card:nth-child(8) .card-row:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card:nth-child(8) .card-row:nth-child(1) .card-row__left {
  display: flex;
  gap: 15px;
}
.card:nth-child(8) .card-row:nth-child(1) .card-row__left .card-row__left-circle {
  height: 60px;
  width: 45px;
  border: 1px solid #191919;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

.card:nth-child(8) .card-row:nth-child(1) .card-row__left .card-row__left-circle:nth-child(2) {
    background-color: #71409F;
}

.card:nth-child(8) .card-row:nth-child(1) .card-row__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card:nth-child(8) .card-row:nth-child(1) .card-row__right .card-row__right__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  gap: 5px;
  font-size: 10px;
}
.card:nth-child(8) .card-row:nth-child(1) .card-row__right .card-row__right__icon {
  background-color: #FFC830;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.card:nth-child(8) .card-row:nth-child(2) {
  width: 80%;
  font-size: 14px;
}
